<!DOCTYPE html>
<html>
<head>
    <title>Juegos Clásicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>Juegos Clásicos</h1>
        <div class="menu-options">
            <a href="/snake" class="game-button snake">Snake</a>
            <a href="/tenis" class="game-button tenis">Tenis</a>
            <a href="/buscaminas" class="game-button buscaminas">Buscaminas</a>
            <a href="/tetris" class="game-button tetris">Tetris</a>
        </div>
    </div>
</body>
</html>